# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Data
data/raw/
data/processed/
data/*.csv
data/*.json

# Models / Embeddings
models/
*.bin
*.pkl
*.pt

# ChromaDB local storage
chroma.db/
chroma_db/
models/chroma_db/

# Logs
*.log

# Env files
.env
.env.*

# Virtual Environments
.venv/
venv/
env/

# macOS
.DS_Store

# System
Thumbs.db
